.about-us{
    background: url("https://fiskrocketteamdotcom.files.wordpress.com/2021/10/img_3626_original-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: white;
    font-size: 10vh;
}

.main{
    background-color: #415185;
    padding-bottom: 19vh;
}
.rocket-pic{
    margin-top: 19vh;
    background: url("https://fiskrocketteamdotcom.files.wordpress.com/2021/10/1-team.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: white;
    font-size: 10vh;
    
}

.where-it-began{
    margin-top: 5vh;
    width: 100%;
    background-color: #f5ba00;
    display: flex;
    justify-content: flex-end;
    padding: 6vh;
    color: white;
    font-size: 4vh;

}

.history{
    margin: 0vh 20vw;
    padding: 2vh 10vh;
    margin-top: 4vh;
    background-color: #f5ba00;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.7vh;
}